// app global css in SCSS form

.bg-image {
  background-image: url("/src/assets/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg-image-filter {
  background-color: rgba(29, 39, 84, 0.93);
  //background-color: rgb(0 180 255 / 0.6);

  // !Bug Mobile for drawer (view destroy)
  //backdrop-filter: blur(10px);
}
